<html style="height: 100%; margin: 0; padding: 0;">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/app.js"></script>
</head>
<body style="height: 100%; margin: 0; padding: 0;">
  <%= yield %>
  <p style="font-style: italic;" id="status-box"><%= @status %></p>
</body>
